@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* --background: #ffffff; */
  --background: #0f010c;
  /* --foreground: #171717; */
  --foreground: #f5f5f5;
  font: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.amboss-border {
  border: solid 1px rgba(255, 255, 255, 0.17);
}

.amboss-border-bottom {
  border-bottom: solid 1px rgba(255, 255, 255, 0.17);
}

.no-bottom-border {
  border-bottom: none;
}

.bold {
  font-weight: 600;
}

.table-wrapper {
  @apply amboss-border;
  overflow-x: auto;
  border-radius: 15px;
}

table {
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
  font-weight: 300;
}

table > * {
  font-weight: 300;
}

thead {
  border-top: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

tr {
  @apply amboss-border-bottom;
  border-top: none;
}

/* on last tr row, no border */
tr:last-child {
  border-bottom: none;
}

th {
  padding: 10px;
  text-align: left;
  font-weight: 300;
}

td {
  padding: 10px;
  font-weight: 300;
}

body {
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  background: black;
}

.background {
  background: black;
  background-image: radial-gradient(circle 1500px at center -1000px, rgba(121,40,202,0.17), rgba(255,0,128,0.17), transparent 100%);
  animation: pulse 5s ease-in-out infinite;
  height: 100%;
  width: 100%;
  z-index: -999;
  position: fixed;
}

@keyframes pulse {
  0% { opacity: 0.8; }
  50% { opacity: 1; }
  100% { opacity: 0.8; }
}

.font-secondary {
  color: #A3A3A3;
}

.slightly-smaller {
  font-size: 0.8rem;
}

input::placeholder {
  color: #fff;
}

.tr-bg:hover {
  background: rgba(255, 255, 255, 0.1);
}

.link {
  color: #9ca3af;
}

.link:hover {
  color: #fff;
}
